
.dashboard {
  background-color: #9AB87A;
  height: auto;
  width: 100vw;
}


.rentCardContainer {
  overflow-y: scroll;
  height: auto;
  justify-content: 'space-evenly';
  margin-top: 5px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  display: flex;
  padding-left: 20px;
  
}

