/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Styling for the app */
  .app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background: #f4f4f4;
  }
  
  /* Header styles with a larger font and modern colors */
  .header {
    background-color: #005b96; /* Dark blue shade */
    padding: 20px 40px;
    color: #ffffff;
    text-align: left;
  }
  
  .header h1 {
    font-size: 2.5rem;
  }
  
  /* Main content styles */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    padding: 20px;
    background: url('./assets/house.jpg') no-repeat center center fixed; 
    background-size: cover;
  }
  
  /* Login container with box shadow and padding */
  .login-container {
    max-width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.95); /* Slightly transparent white */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -60px; /* Negative margin for effect */
  }
  
  /* Form element styles */
  .login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .login-form h2 {
    font-size: 1.8rem;
    color: #005b96;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .login-form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .login-form input {
    font-size: 1rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    font-size: 1rem;
    padding: 15px;
    background-color: #28a745; /* Green shade */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #218838; /* Darker green */
  }
  
  /* Signup link styles */
  .sign-up {
    font-size: 0.9rem;
    text-align: center;
  }
  
  .sign-up a {
    color: #007bff; /* Blue shade */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .sign-up a:hover {
    color: #0056b3; /* Darker blue */
  }
  